.not-found {
  width: 100%;
  height: calc(100vh - 130px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.not-found-title {
  font-size: 80px;
  color: var(--red-color);
  font-weight: bold;
  margin-bottom: 10px;
}

.not-found-text {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 30px;
}

.not-found-link {
  background-color: var(--gray-color);
  padding: 10px;
  border-radius: 4px;
  color: var(--main-color);
  margin-top: 10px;
}
